BATCH_SIZE=1
BEAM_WIDTH=1
SEQ_LEN=32
DATA_TYPE=fp32
TEST_TIME=3
SAMPLING_TOPK=1
MODEL_TYPE=Megatron-DeepSpeed
CKPT_DIR=/root/autodl-tmp/diff-moe-data/ft/switch-base-128
MODEL_NAME_FOR_BENCH=t5-base
DATASET_NAME=EdinburghNLP/xsum
ITERATIONS=1
DURATION=0
WARMUP_ITERATIONS=1
LIB_PATH=/root/autodl-tmp/Diff-MoE/build/lib/libth_transformer.so
CACHE_SIZE=1
USE_MOE_CACHE=True
FIX_CACHE_SIZE=0
TOP_K_EXPERTS=0,0,0,0,0,0
LAYER_NUM=6
MAX_SAMPLES=8
